<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ub.akshay.nitkart">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".OpenScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".newUser"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainAppPage"
            android:label="@string/title_activity_main_app_page"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".IndividualProduct"
            android:label="@string/title_activity_individual_product"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ShoppingCartWindow" />
        <activity android:name=".CheckOutScreen" />
        <activity android:name=".forgotPassword" />
        <activity android:name=".IndividualProductSeller" />
        <activity android:name=".AddProductForm"></activity>
    </application>

</manifest>